<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
        (change)="tipoOperacion($event)"
        class="agregar_tipo"
        [ngClass]="{ redfocus: tipo === 'egresoOperacion' }"
      >
        <option value="ingresoOperacion" selected>+</option>
        <option value="egresoOperacion">-</option>
      </select>
      <input
        type="text"
        [ngClass]="{ redfocus: tipo === 'egresoOperacion' }"
        [(ngModel)]="descripcionInput"
        name="descripcionInput"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        required
      />
      <input
        type="number"
        [ngClass]="{ redfocus: tipo === 'egresoOperacion' }"
        [(ngModel)]="precioInput"
        name="precioInput"
        class="agregar_valor"
        placeholder="Valor"
        required
      />
      <button type="submit" class="agregar_btn">
        <i
          class="ion-ios-checkmark-outline"
          [ngClass]="{ red : tipo === 'egresoOperacion' }"
        ></i>
      </button>
    </div>
  </div>
</form>
